
body {
  background: transparent none no-repeat scroll (0,0); /* color url(img.png) repeat attachment position */
  padding: 10px;
  font: normal normal normal 13px Courier /* style variant weight size/line-height family */
}

.card {
  width: 300px;
  background: transparent url(paper.jpg) repeat scroll top left; /* #color url(img.png) repeat attachment position */
  border: 1px solid #666; /* width style color */
  border-radius: 10px;
  padding: 0 14px 10px 10px;
  box-shadow: 5px 5px 5px 5px #ccc;
}

.title {
  font: Bold normal normal 32px/0 Courier /* style variant weight size/line-height family */
}

.photo {
  border: 2px dashed #666; /* width style color */
}

.info_box {
  width: 280px;
  background: transparent url(paper_light.jpg) repeat scroll top left; /* #color url(img.png) repeat attachment position(0.0) */
  border: 2px dashed #666; /* width style color */
  margin-top: 10px;
  padding: 0 10px;
}

.fun_fact {
  font-style: italic;
}

.list {
  list-style-type: none;
  padding: 0;
}

.bold_list {
  font-weight: bold;
}
